*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: relative;
    width: 100%;
    height: 80px;
    font-family: "Playfair display";
}

.fancy-title{
    font-family: "Playwrite DE SAS", cursive;
    font-size: 80px;
    color: rgb(196, 18, 10);
    font-weight: 400;
}

.unfancy-title{
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    color: rgb(124, 7, 6);
    /* color: #000; */
    font-size: 50px;
}

.title-text{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 16px;
    /* padding-top: 20px; */
}

.btns{
    padding-top: 30px;
    display: flex;
    gap: 40px;
}

.title-red-btn{
    background-color: rgb(196, 18, 10);
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
}

.title-white-btn{
    background: none;
    color: rgb(196, 18, 10);
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid rgb(196, 18, 10);
    border-radius: 5px;
}

.banner{
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    justify-content: baseline;
    height: 60vh;
    gap: 10px;
    background-image: url(/assets/banner\ background\ .png);
    background-size: 100% 100%; 
    background-repeat: no-repeat;
}

.navbar{
    background-color: rgb(126, 22, 22);
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* border: 1px solid #000; */
    height: 80px;
    position: absolute;
}

.logo{
    font-size: larger;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo .logo-text{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.logo img{
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

header .nav a{
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: large;
    margin-left: 40px;
}

header .nav a:nth-child(6){
    padding-right: 50px;
}

.countdown {
    height: 58vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    background-image: url(/assets/Countdown\ background.png);
    background-size: cover;
}

.countdown h2{
    font-size: 30px;
    font-weight: 600;
    animation: fadeIn 1s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0;
}

.countdown .holidays{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 50px;
}

.gio-to{
    background: url(/assets/Countdown\ giỗ\ tổ.png);
    background-size: cover;
    width: 400px;
    height: 250px;
    border-radius: 10px;
}

.gio-to .title{
    text-align: center;
    margin-left: 110px;
    padding-top: 50px;
    line-height: 0.8;
    font-size: 22px;
    font-weight: 600;
}

.gio-to .timer{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 20px;
    text-align: center;
}

.timerBox {
    background-color: #00000057;
    padding: 18px;
    font-size: 17px;
    border-radius: 5px;
}

.giai-phong{
    background: url(/assets/Background\ giải\ phóng.png);
    background-size: cover;
    width: 400px;
    height: 250px;
    border-radius: 10px;
    /* border: 1px solid rgb(34, 134, 249); */
}

.giai-phong .title{
    text-align: center;
    margin-left: 110px;
    padding-top: 50px;
    line-height: 0.85;
    font-size: 22px;
    font-weight: 600;
}

.giai-phong .timer{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    gap: 20px;
    text-align: center;
}

.lao-dong {
    background: url(/assets/Lao\ động\ background.png);
    background-size: cover;
    width: 400px;
    height: 250px;
    border-radius: 10px;
}

.lao-dong .title{
    text-align: center;
    margin-left: 110px;
    padding-top: 50px;
    line-height: 0.85;
    font-size: 22px;
    font-weight: 600;
}

.lao-dong .timer{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    gap: 20px;
    text-align: center;
}

.learn-more{
    background-color: rgb(251, 240, 222);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
}

.learn-more h2{
    padding-top: 20px;
    font-size: 30px;
}

.learn-more .cards{
    display: flex;
    justify-content: center;
    padding-top: 50px;    
    gap: 40px;
} 

.card{
    width: 400px;
    height: 550px;
    background-color: rgb(251, 232, 201);
    border-radius: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding:0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img{
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card-description{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    padding: 0 20px;
}

.card .gio-to-card-title{
    color: rgb(197, 55, 49);
    font-size: 23px;
    font-weight: 600;
}

.card .giai-phong-card-title{
    color: rgb(34, 134, 249);
    font-size: 23px;
    font-weight: 600;
}

.card .lao-dong-card-title{
    color: rgb(34, 181, 10);
    font-size: 23px;
    font-weight: 600;
}

.red-card-btn{
    background: none;
    color: rgb(196, 18, 10);
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid rgb(196, 18, 10);
    border-radius: 5px;
}

.blue-card-btn{
    background: none;
    color: rgb(34, 134, 249);
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid rgb(34, 134, 249);
    border-radius: 5px;
}

.green-card-btn{
    background: none;
    color: rgb(34, 181, 10);
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid rgb(34, 181, 10);
    border-radius: 5px;
}

.event-timeline{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    gap: 30px;
    background-color: rgb(251, 240, 222);
}

.timeline{
    position: relative;
    display: flex;
    gap: 60px;
}

.timeline-item:not(:last-child)::after{
    position: absolute;
    content: "";
    top:20px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #ccc;
    z-index: 0;
}

.interactions{
    background-color: rgb(251, 240, 222);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.interactions h2{
    font-size: 30px;

}

.interactions-elements{
    padding-top: 20px;
    display: flex;
    gap: 40px;
}

.interaction-element{
    background-color: rgb(254, 248, 238);
    padding: 30px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}